NODE_ENV=production
WRENCHLESS_SPONSOR_BIND_HOST=0.0.0.0
PORT=8788
WRENCHLESS_SPONSOR_ORIGIN=https://wrenchless.timidan.xyz
WRENCHLESS_SPONSOR_RPC_URL=https://rpc.starknet.lava.build
WRENCHLESS_SPONSOR_POOL_ADDRESS=0x040337b1af3c663e86e333bab5a4b28da8d4652a15a69beee2b677776ffe812a
WRENCHLESS_SPONSOR_HELPER_ADDRESS=0x026ce951b858934b1ad832be2f93a102b9bf42deb5b824204278ed72b45fa828
WRENCHLESS_SPONSOR_TOKEN_ADDRESS=0x04718f5a0fc34cc1af16a1cdee98ffb20c31f5cd61d6ab07201858f4287c938d
WRENCHLESS_SPONSOR_ACCOUNT_ADDRESS=0x01c7f9e5477834ae4ecc6dd16f82200ca02d2f85cec27bfae0eeb371dd41ab1d
WRENCHLESS_SPONSOR_ACCOUNT_PRIVATE_KEY=
WRENCHLESS_SPONSOR_MAX_POOL_FEE_FRI=6000000000000000000
WRENCHLESS_SPONSOR_MAX_TRANSACTION_FEE_FRI=1000000000000000000
WRENCHLESS_SPONSOR_MAX_DAILY_FUND_SPEND_FRI=21000000000000000000
WRENCHLESS_SPONSOR_MIN_FUND_AMOUNT_FRI=1000000000000000000
WRENCHLESS_SPONSOR_MIN_FUND_DURATION_SECONDS=7200
WRENCHLESS_SPONSOR_MAX_FUND_DURATION_SECONDS=7776000
WRENCHLESS_SPONSOR_FUND_BUDGET_PATH=/data/fund-budget.json
WRENCHLESS_RECOVERY_INDEX_KEY=
WRENCHLESS_RECOVERY_INDEX_PATH=/data/recovery-index.json
WRENCHLESS_RECOVERY_INDEX_KEY_PATH=/data/recovery-index.key
WRENCHLESS_ALLOW_REFILL_FUND_BROADCAST=false
WRENCHLESS_TRUST_PROXY=true
